.page-wrapper {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  color: #333;
  font-size: 16px;
}

.left-column {
  flex: 1;
  background: #187aeb;
  color: #fff;
  min-height:100vh;
  padding: 25px;
  box-shadow: 0 0 5px #222;
  position: relative;
  z-index: 999;
}

.right-column {
  flex: 3;
  padding: 20px;
  background: cornflowerblue
}